@inject IJSRuntime js;
    <div class="movie-item">
        <GenericList List="Movies">
            <ElementTemplate Context="movie">
                <MovieItem movie="movie" DeleteCallBack="DeleteMovie" />
            </ElementTemplate>
        </GenericList>
    </div>
    <Confirmation @ref="confirmation" OnCancel="OnCancel" OnConfirm="OnConfirm" Title="Confirm">
        Are you sure to delete @movieToBeDelete.Name movie!
    </Confirmation>
    @ChildContent

    @code {
        private Confirmation confirmation;
        private Movie movieToBeDelete;
        [Parameter] public List<Movie> Movies { get; set; }
        [Parameter] public RenderFragment ChildContent { get; set; }

        private async Task DeleteMovie(Movie movie)
        {
            movieToBeDelete = movie;
            confirmation.Show();
        }

        private void OnConfirm()
        {
            Movies.Remove(movieToBeDelete);
            confirmation.Hide();
        }
        private void OnCancel()
        {
            confirmation.Hide();
        }

    }
