@page "/"
@using static BlazorMovies.Client.Shared.MainLayout;
@inject IRepository repository;

<h2><u>Movies-</u></h2>
<MovieList Movies="@movies">
</MovieList>

@code{

    List<Movie> movies;
    protected override void OnInitialized()
    {
        movies = repository.GetMovies();
    }

}



