@page "/geners/create";

<h3>Create Geners</h3>
<GenerForm gener="gener" OnValidSubmit="Create" />
@code {
    private Gener gener = new Gener();
    private void Create() {
        Console.WriteLine(gener.Name);
    }
}
