@page "/persons/create";
@inject IPersonRepository repository
@inject NavigationManager navigationManager

<h3>CreatePerson</h3>
<PersonForm Person="person" OnValidSubmit="Create" />

@code {
    Person person = new Person();
    public void Create() {
        Console.WriteLine("Creating person");
        repository.CreatePerson(person);
        navigationManager.NavigateTo("persons");
    }
}
