@page "/movies/create";
@inject NavigationManager navigateManager;
@inject IMovieRepository movieRepository;
<h3>CreateMovie</h3>
<MovieForm movie="movie" OnValidSubmit="SaveMovie" NoSelected="NoSelectedGener"></MovieForm>

@code {
    Movie movie = new Movie();
    private List<Gener> NoSelectedGener = new List<Gener>() {
        new Gener{Id=1,Name="Comedy" },
        new Gener{Id=1,Name="Action" },
        new Gener{Id=1,Name="Drama" },
    };
    private List<Gener> SelectedGener;

    private async void SaveMovie()
    {
        try
        {
            Console.WriteLine(movie);
            var movieId = await movieRepository.CreateMovie(movie);
            navigateManager.NavigateTo($"movies/{movieId}/{movie.Name.Replace(" ","-")}");
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
            throw;
        }

    }
}
