@page "/movies/{MovieId:int}";

<h3>DetailMovie</h3>

@code {
    [Parameter] public int MovieId { get; set; }

    protected override void OnInitialized()
    {
        Console.WriteLine($"Current Movie id is : {MovieId}");
    }
}
